<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>wifi cafe finder</title>

    <!--Bootstrap-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--css to override the style-->
    <link rel="stylesheet" type="text/css" href="assets/reset.css">
    <link rel="stylesheet" type="text/css" href="assets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Forum" rel="stylesheet">
    <!--Link to JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <!--Link to moment.js -->
    <script src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js"></script>

</head>

<body>

<div class="container">
    <br>
    <!--Jumbotron Title-->
    <div class="jumbotron" style="background: linear-gradient(to bottom, slategrey, #aed4f8)">
        <h1 class="text-center" style="font-size: 7em; color: silver"><strong>Find Your CybrSpot</strong></h1>
        <h3 class="text-center" style="font-size: 3em; color: darkslategrey">Interwebs Cafe Finder</h3>
    </div>

    <!--Search Bar-->
    <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="City, State or zip code" aria-describedby="sizing-addon1">
        <span class="input-group-addon"><a href="/" class="glyphicon glyphicon-search" id="sizing-addon1"></a></span>
    </div>
<br>
    
  
    
   







<!--Javascript-->
<!-- link to js file that supports the backstretch piece -->
<script type="text/javascript" src="assets/javascript/backstretch.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $.backstretch('assets/images/cyber-cafe.jpeg');
    });
</script>

</div>
</body>

<footer class="text-center">
    <div class="container">
        <p style="font-size: 16px; color: silver">&copy;&nbsp;Copyright 2017 StaylorXanttopoulosHurowitz</p>
    </div>
</footer>
</html>