h1 {
    text-shadow: 6px 2px black;
}

.jumbotron {
    z-index: 1;
    position: relative;
}
#bg {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url('images/cyber-cafe.jpeg');
    background-size: cover;
    z-index: 0;
}

#bg2 {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url('images/cyber-cafe2.jpg');
    opacity: 0.2;
    background-size: cover;
    z-index: 0;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/*disclaimer: images are used for educational purposes only.*/